@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration-line: none;
}

header{
	padding: 30px;
	text-align: center;
	background-color: blue;
	cursor: pointer;
}
header>h1{
	margin: auto;
	width : fit-content;
	color : white;
}

nav {
	display: flex;
	text-align: center;
	justify-content: space-around;
	background-color: violet;
	color: white;
}

nav>div {
	padding: 10px;
	cursor: pointer;
}

section {
	height : 80vh;
}

section>h1{
	text-align: center;
	margin: 30px;
}

#title{
	text-align: center;
	margin: 30px;
}

section>form {
	display : flex;
	flex-direction: column;
	align-items: center;
	width : fit-content;
	margin : 0 auto 50px auto;
}

footer {
	height : 5vh;
	text-align: center;
	padding: 30px;
	background-color: blue;
	color: gray;
}

td {
	padding : 5px;
}

.button {
	cursor: pointer;
}